@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideIn 0.3s forwards;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-out {
  animation: slideOut 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.3s forwards;
}

@keyframes slide-bottom {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-bottom {
  animation: slide-bottom 0.3s forwards;
}

@keyframes slide-top {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20%);
    opacity: 0;
    height: 0;
  }
}

.slide-top {
  animation: slide-top 0.3s forwards;
  overflow: hidden;
}

@keyframes slide-from-right {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-from-right {
  animation: slide-from-right 0.3s forwards;
}

@keyframes slider-opacity {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}

.slider-opacity {
  animation: slider-opacity 0.3s forwards;
}

@keyframes slide-post {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-post {
  animation: slide-post 0.3s forwards;
}
