.groupA {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.groupA-hover {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  backdrop-filter: blur(4px); /* Blur efekti */
  -webkit-backdrop-filter: blur(1px); /* Safari desteği */
  transition:
    opacity 0.4s ease,
    background-color 0.4s ease,
    backdrop-filter 0.4s ease;
}

.groupA:hover .groupA-hover {
  display: block;
  opacity: 1;
  transition-delay: 100ms;
}

.groupA:hover {
  transition: all 0.3s ease;
}

.groupA:hover .groupA-image {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}

.groupA-image {
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
}
