.backgroundContent {
  @apply fixed inset-0 z-0;
  background: linear-gradient(45deg, #b31312, #ea906c, #2b2a4c, #eee2de);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.authContent {
  @apply fixed right-0 z-10 flex h-[100vh] shadow-2xl;
}
